*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Raleway, Arial, Helvetica, sans-serif;
    max-width: 1380px;
    margin: auto;
}

.bloc_page{
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2{
    font-weight: bold;
}

/*  NAVIGATION  */

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 10px 20px;
}

.menus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    width: 100px;
    height: 50px;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 45px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: #0065fc;
    border-top: 3px solid #0065fc;
    padding-top: 27px;
}

/*  BARRE DE RECHERCHE  */

form{
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    width: 370px;
    height: 42px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#map{
    border: 1px solid #f2f2f2;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 12px;
    width: 40px;
    height: 40px;
}

input{
    border: none;
    width: 220px;
    height: 40px;
    padding-left: 10px;
    font-weight: bold;
}

#boutton{
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    color: white;
    width: 110px;
    height: 40px;
    font-weight: bold;
}

#search{
    display: none;
}

/*  FILTRES  */

.info span{
    color: #deebff;
}

#filtres{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin-top: 10px;
}

#liens a{
	text-decoration: none;
	color: black;
}

#liens a:hover{
	color: #0065FC;
}

#titre{
	padding-top: 10px;
	margin-right: 20px;
}

#filtres ul{
	display: flex;
	list-style-type: none;
}

#filtres li{
	padding-right: 20px;
}

#filtres i{
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 30px;
	background-color: #DEEBFF;
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

#eco,
#famille,
#romantique,
#animaux {
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	height: 35px;
	margin-right: 20px;
}

#billet,
#enfant,
#coeur,
#chien {
	text-align: center;
	padding-top: 7px;
}

/*  INFO  */

.info{
    margin:30px 0 30px 0;
}

.info i{
    color: #0065fc;
    border: 2px solid #deebff;
    border-radius: 20px;
    background-color: white;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 5px 0 0 10px;
}

#retour_info{
    color: black;
}

/*  HEBERGEMENT + LES PLUS POPULAIRES  */

.main{
    display: flex;
    justify-content: space-between;
}

/*  BLOC HEBERGEMENT  */

.Hebergement_Marseille{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 30px 0 0 30px;
    width: 65%;
}

article{
    display: flex;
    flex-direction: column;
}

article img{
    object-fit: cover;
}

#titre_hebergement, #suite{
    margin-bottom: 20px;
}

.Hebergement_Marseille a{
    text-decoration: none;
    color: black;
}

.Hebergement_Marseille strong{
    font-weight: bold;
}

.heb_cases{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 30px;
}

.heb_cases figure{
    width: 255px;
    height: 180px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #7a7d7f;
}

.carte_hebergement{
    margin-bottom: 30px;
}

#photo_auberge_cannebiere,
#photo_hotel_mer,
#photo_hotel_port,
#photo_auberge_panier,
#photo_hotel_mouettes,
#photo_hotel_amina{
    width: 249px;
    height: 110px;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
}

.hebergement_caption{
    width: 249px;
    height: 70px;
    border: 3px solid white;
    border-radius: 0 0 20px 20px;
    color: black;
    padding-left: 10px;
    margin-top: -6px;
    background-color: white;
}

#fig1{
    padding-top: 0px;
}

/*   ETOILES   */

#fig1 i,
#fig3 i,
#fig4 i,
#fig5 i{
    padding-top: 8px;
}

#fig2 i,
#fig6 i{
    color: #0065FC;
    padding-top: 8px;
}

#fig1 span,
#fig3 span,
#fig4 span,
#fig5 span{
    color: #0065FC;
}

#grise_1,
#grise_2,
#grise_3,
#grise_4,
#grise_5{
    color: #F2F2F2;
}

aside{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    width: 30%;
}

aside img{
    object-fit:cover;
}

.Populaires a{
    text-decoration: none;
    color: black;
}

.Entete_aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.Etoile_aside{
    display: flex;
    justify-content: flex-end;
}

.carte_populaire{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    width: 342px;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #7a7d7f;
    text-decoration: none;
}

#photo_hotel_soleil,
#photo_coeur_eau,
#photo_hotel_bleu_blanc{
    width: 120px;
    height: 114px;
    border: 3px solid white;
    border-radius: 20px 0 0 20px;
}

#pop_legende1,
#pop_legende2,
#pop_legende3{
    width: 220px;
    height: 114px;
    border: 3px solid white;
    border-radius: 0 20px 20px 0;
    color: black;
    padding: 10px 0 0 10px;
    background-color: white;
}

#pop_legende1 i,
#pop_legende3 i{
    margin-top: 26px;
}

#pop_legende2 i{
    margin-top: 20px;
}

#pop_legende1 i,
#pop_legende2 span,
#pop_legende3 span{
    color: #0065FC;
}

#grise_6,
#grise_7{
    color: #F2F2F2;
}


.Activites{
    font-weight: bold;
}
.Activites img{
    object-fit: cover;
}

.Activites a{
    text-decoration: none;
    color: black;
}

#titre_activites{
    padding-top: 40px;
    padding-bottom: 20px;
}



.act_cases{
    display: flex;
    justify-content: space-between;
    width: 99.6%;
    padding-bottom: 50px;
}

.act_col_1,
.act_col_2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



#vieux_port{
    border: 1px solid white;
    border-radius: 20px;
    width: 286px;
    height: 450px;
    box-shadow: 1px 1px 6px #7a7d7f;
    margin-right: -1px;
}

#photo_vieux_port{
    width: 286px;
    height: 400px;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
}

#caption_vieux_port{
    width: 286px;
    height: 50px;
    border: 3px solid white;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 0 10px;
    margin-top: -6px;
    background-color: white;
}



#fort_pomegues{
    border: 1px solid white;
    border-radius: 20px;
    width: 286px;
    height: 260px;
    box-shadow: 1px 1px 6px #7a7d7f;
    margin-bottom: 22px;
    margin-right: -1px;
}

#photo_fort_pomegues{
    width: 286px;
    height: 210px;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
}

#caption_fort_pomegues{
    width: 286px;
    height: 50px;
    border: 3px solid white;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 0 10px;
    margin-top: -6px;
    background-color: white;
}



#iles_frioul{
    border: 1px solid white;
    border-radius: 20px;
    width: 286px;
    height: 150px;
    box-shadow: 1px 1px 6px #7a7d7f;
}

#photo_iles_frioul{
    width: 286px;
    height: 100px;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
}

#caption_iles_frioul{
    width: 286px;
    height: 50px;
    border: 3px solid white;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 0 10px;
    margin-top: -6px;
    background-color: white;
}



#parc_calanques{
    border: 1px solid white;
    border-radius: 20px;
    width: 286px;
    height: 450px;
    box-shadow: 1px 1px 6px #7a7d7f;
    margin-left: -0.5px;
    margin-right: -2px;
}

#photo_parc_calanques{
    width: 286px;
    height: 400px;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
}

#caption_parc_calanques{
    width: 286px;
    height: 50px;
    border: 3px solid white;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 0 10px;
    margin-top: -6px;
    background-color: white;
}



#dame_garde{
    border: 1px solid white;
    border-radius: 20px;
    width: 286px;
    height: 180px;
    box-shadow: 1px 1px 6px #7a7d7f;
    margin-bottom: 22px;
}

#photo_dame_garde{
    width: 286px;
    height: 130px;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
}

#caption_dame_garde{
    width: 286px;
    height: 50px;
    border: 3px solid white;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 0 10px;
    margin-top: -6px;
    background-color: white;
}



#parc_longchamp{
    border: 1px solid white;
    border-radius: 20px;
    width: 286px;
    height: 230px;
    box-shadow: 1px 1px 6px #7a7d7f;
}

#photo_parc_longchamp{
    width: 286px;
    height: 180px;
    border: 3px solid white;
    border-radius: 20px 20px 0 0;
}

#caption_parc_longchamp{
    width: 286px;
    height: 50px;
    border: 3px solid white;
    border-radius: 0 0 20px 20px;
    padding: 10px 0 0 10px;
    margin-top: -6px;
    background-color: white;
}

footer{
    background-color: #7a7d7f;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer_col_1 a,
.footer_col_2 a,
.footer_col_3 a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    justify-content: space-between;
}

.footer_col_1 h2,
.footer_col_2 h2,
.footer_col_3 h2{
    padding-bottom: 7px;
}

.footer_col_1 p,
.footer_col_2 p,
.footer_col_3 p{
    padding-bottom: 3px;
}

.footer_col_1{
    padding-left: 25px;
}

.footer_col_2{
    padding-left: 140px;
}

.footer_col_3{
    padding-left: 275px;
}

/*   RESPONSIVE : VERSION MOBILE   */

@media all and (max-width: 768px){
    body{
		width: auto;
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;  
	}

	.bloc_page{
		margin: 0px;
		padding: 0px;
	}


	/*entête*/

	header{
		flex-direction: column;
		margin: 0px;
		padding: 0px;
	}

    .logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .menus{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 100%;
    }

    nav{
        width: 100%;
    }

    nav ul{
        width: 100%;
        padding: 0;
    }

    nav li{
        width: 50%;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 10px;
        margin: 0;
        text-align: center;
    }

    nav a:hover{
        padding-top: 37px;
    }

    nav li:hover{
        border-color: #0065fc;
        color: #0065fc;
    }

    nav li a:hover{
        border-top: none;
    }

    #Titre_Booki{
        font-size: 24px;
        padding-left: 8px;
    }

    .sous-titre{
        padding-left: 8px;
    }

    /*  BARRE DE RECHERCHE  */

    .bloc_recherche{
        padding-left: 20px;
        padding-right: 20px;
    }

    form{
        width: 100%;
        margin-top: 30px;
    }

    #map{
        width: 10%;
    }

    input{
        width: 80%;
    }

    #boutton{
        width: 12%;
        border-radius: 10px;
    }

    .Rechercher_text{
        display: none;
    }

    #search{
        display: block;
    }

    /*  BLOC FILTRES  */

    #filtres{
        flex-wrap: wrap;
    }

    #liens ul{
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: 0px;
        font-size: 15px;
    }

    #liens li{
        margin-bottom: 10px;
    }

    #titre{
        margin-bottom: 20px;
    }

    .info{
        font-size: 14px;
    }

    #retour_info{
        padding-left: 44px;
        color: black;
    }

    /*  POPULAIRES  */

    aside{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
        order: 1;
        background: none;
    }

    .pop_cases{
        width: 100%;
    }

    #card1,
    #card2{
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
    }

    #card3{
        width: 100%;
        height: 150px;
    }

    #photo_hotel_soleil,
    #photo_coeur_eau,
    #photo_hotel_bleu_blanc{
        width: 140px;
        height: 148px;
    }

    #pop_legende1,
    #pop_legende2,
    #pop_legende3{
        width: 100%;
        height: 148px;
    }


    /*  HEBERGEMENTS  */

    .main{
        flex-direction: column;
        width: 100%;
    }

    article{
        width: 100%;
        order: 2;
    }

    .Hebergement_Marseille{
        background: none;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .heb_cases{
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    #titre_hebergement{
        padding-top: 40px;
    }

    #fig1,
    #fig2,
    #fig3,
    #fig4,
    #fig5,
    #fig6{
        width: 100%;
        height: auto;
    }

    #fig1{
        padding-top: 0px;
    }

    #photo_auberge_cannebiere,
    #photo_hotel_mer,
    #photo_hotel_port,
    #photo_auberge_panier,
    #photo_hotel_mouettes,
    #photo_hotel_amina{
        width: 100%;
        height: 140px;
    }

    .hebergement_caption{
        width: 100%;
        height: 40%;
        padding-left: 8px;
        padding-top: 2px;
    }

    #fig1 i,
    #fig2 i,
    #fig3 i,
    #fig4 i,
    #fig5 i,
    #fig6 i{
        padding-top: 10px;
    }



    /*  ACTIVITES  */

    .Activites{
        padding-left: 20px;
        padding-right: 20px;
    }

    .act_cases{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #carte_vieux_port,
    #carte_iles_frioul,
    #carte_parc_calanques,
    #carte_parc_longchamp,
    #vieux_port,
    #iles_frioul,
    #parc_calanques,
    #parc_longchamp{
        width: 100%;
        height: 200px;
        margin-bottom: 25px;
    }

    #carte_fort_pomegues,
    #carte_dame_garde,
    #fort_pomegues,
    #dame_garde{
        width: 100%;
        height: 200px;
    }

    #photo_vieux_port,
    #photo_iles_frioul,
    #photo_parc_calanques,
    #photo_parc_longchamp,
    #photo_fort_pomegues,
    #photo_dame_garde{
        width: 100%;
        height: 70%;
    }

    #caption_vieux_port,
    #caption_iles_frioul,
    #caption_parc_calanques,
    #caption_parc_longchamp,
    #caption_fort_pomegues,
    #caption_dame_garde{
        width: 100%;
        height: 30%;
        padding-left: 8px;
        padding-top: 15px;
    }

    footer{
        flex-direction: column;
        margin: 0px;
    }

    .footer_col_1,
    .footer_col_2
    .footer_col_3{
        padding-right: 0px;
        margin-bottom: 30px;
    }

    .footer_col_1{
        padding-left: 25px;
    }
    
    .footer_col_2{
        padding-bottom: 30px;
        padding-left: 25px;
    }
    
    .footer_col_3{
        padding-left: 25px;
    }
}


/*  VERSION TABLETTE  */


@media all and (min-width: 769px) and (max-width: 992px){
    body{
		width: auto;
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;  
	}

	.bloc_page{
		margin: 0px;
		padding: 0px;
	}


	/*entête*/

	header{
		flex-direction: column;
		margin: 0px;
		padding: 0px;
	}

    .logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .menus{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 100%;
    }

    nav{
        width: 100%;
    }

    nav ul{
        width: 100%;
        padding: 0;
    }

    nav li{
        width: 50%;
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 10px;
        margin: 0;
        text-align: center;
    }

    nav a:hover{
        padding-top: 37px;
    }

    nav li:hover{
        border-color: #0065fc;
        color: #0065fc;
    }

    nav li a:hover{
        border-top: none;
    }

    #Titre_Booki{
        font-size: 24px;
        padding-left: 8px;
    }

    .sous-titre{
        padding-left: 8px;
    }

    /*  BARRE DE RECHERCHE  */

    .bloc_recherche{
        padding-left: 20px;
        padding-right: 20px;
    }

    form{
        width: 100%;
        margin-top: 30px;
    }

    #map{
        width: 10%;
    }

    input{
        width: 80%;
    }

    #boutton{
        width: 12%;
        border-radius: 10px;
    }

    .Rechercher_text{
        display: none;
    }

    #search{
        display: block;
    }

    /*  BLOC FILTRES  */

    #filtres{
        flex-wrap: wrap;
    }

    #liens ul{
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: 0px;
        font-size: 15px;
    }

    #liens li{
        margin-bottom: 10px;
    }

    #titre{
        margin-bottom: 20px;
    }

    .info{
        font-size: 14px;
    }

    #retour_info{
        display: none;
    }

    /*  POPULAIRES  */

    aside{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0;
        padding-left: 20px;
        padding-right: 20px;
        order: 1;
        background: none;
    }

    .pop_cases{
        width: 100%;
    }

    #card1,
    #card2{
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
    }

    #card3{
        width: 100%;
        height: 150px;
    }

    #photo_hotel_soleil,
    #photo_coeur_eau,
    #photo_hotel_bleu_blanc{
        width: 400px;
        height: 148px;
    }

    #pop_legende1,
    #pop_legende2,
    #pop_legende3{
        width: 100%;
        height: 148px;
    }

    /*  HEBERGEMENTS  */

    .main{
        flex-direction: column;
        width: 100%;
    }

    article{
        width: 100%;
        order: 2;
    }

    .Hebergement_Marseille{
        background: none;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .heb_cases{
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    #titre_hebergement{
        padding-top: 40px;
    }

    #fig1,
    #fig2,
    #fig3,
    #fig4,
    #fig5,
    #fig6{
        width: 100%;
        height: auto;
    }

    #photo_auberge_cannebiere,
    #photo_hotel_mer,
    #photo_hotel_port,
    #photo_auberge_panier,
    #photo_hotel_mouettes,
    #photo_hotel_amina{
        width: 100%;
        height: 180px;
    }

    .hebergement_caption{
        width: 100%;
        height: 40%;
        padding-left: 8px;
        padding-top: 2px;
    }

    #fig1 i,
    #fig2 i,
    #fig3 i,
    #fig4 i,
    #fig5 i,
    #fig6 i{
        padding-top: 10px;
    }

    #fig1{
        padding-top: 0px;
    }


    /*  ACTIVITES  */

    .Activites{
        padding-left: 20px;
        padding-right: 20px;
    }

    .act_cases{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #carte_vieux_port,
    #carte_iles_frioul,
    #carte_parc_calanques,
    #carte_parc_longchamp,
    #vieux_port,
    #iles_frioul,
    #parc_calanques,
    #parc_longchamp{
        width: 100%;
        height: 240px;
        margin-bottom: 25px;
    }

    #carte_fort_pomegues,
    #carte_dame_garde,
    #fort_pomegues,
    #dame_garde{
        width: 100%;
        height: 200px;
    }

    #photo_vieux_port,
    #photo_iles_frioul,
    #photo_parc_calanques,
    #photo_parc_longchamp,
    #photo_fort_pomegues,
    #photo_dame_garde{
        width: 100%;
        height: 70%;
    }

    #caption_vieux_port,
    #caption_iles_frioul,
    #caption_parc_calanques,
    #caption_parc_longchamp,
    #caption_fort_pomegues,
    #caption_dame_garde{
        width: 100%;
        height: 30%;
        padding-left: 8px;
        padding-top: 15px;
    }

    footer{
        flex-direction: column;
        margin: 0px;
    }

    .footer_col_1,
    .footer_col_2
    .footer_col_3{
        padding-right: 0px;
        margin-bottom: 30px;
    }

    .footer_col_1{
        padding-left: 25px;
    }
    
    .footer_col_2{
        padding-left: 25px;
    }
    
    .footer_col_3{
        padding-left: 25px;
    }
}